In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('BBCA.JK.csv')
data

           Date    Open    High     Low   Close    Adj Close    Volume
0    2022-10-24  8750.0  8900.0  8725.0  8900.0  8691.658203  89416500
1    2022-10-25  8825.0  8875.0  8700.0  8700.0  8496.339844  84696300
2    2022-10-26  8625.0  8650.0  8550.0  8550.0  8349.851563  98962100
3    2022-10-27  8550.0  8700.0  8550.0  8700.0  8496.339844  77003400
4    2022-10-28  8650.0  8750.0  8650.0  8750.0  8545.168945  84980600
..          ...     ...     ...     ...     ...          ...       ...
238  2023-10-18  8925.0  8950.0  8850.0  8850.0  8850.000000  50919200
239  2023-10-19  8825.0  8850.0  8750.0  8750.0  8750.000000  89509700
240  2023-10-20  8725.0  9025.0  8725.0  8975.0  8975.000000  64554500
241  2023-10-23  8875.0  8925.0  8850.0  8850.0  8850.000000  50633500
242  2023-10-24  8775.0  8875.0  8775.0  8775.0  8775.000000  76963200

[243 rows x 7 columns]